body {
    background-color: skyblue;
}
h1 {
    text-align: center;
    color: white;
}
div {
    text-align: center;
}
#wrapper {
    position: relative;
    width: 800px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#bottom, #top {
    position: absolute;
    top: 0px;
    left: 0px;
    border: 2px solid black;
    width: 800px;
    height: 400px;
}
a {
    color: black;
}